  #portfolio-list {
      margin-top: 36px;
  }

  #portfolio-list>.ui.link.card {
      background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(3, 27, 33));
  }

  #portfolio-list>.ui.link.card.selected {
      background-image: linear-gradient(to bottom right, rgb(2, 49, 97), rgb(9, 121, 54));
  }

  #portfolio-list>.ui.link.card>.content>.header, #portfolio-list>.ui.link.card>.content>.description, #portfolio-list>.ui.link.card>.content>.meta {
      color: white;
  }