<template name="home">
    <div class="ui container">
        {{> portfolioList dataContext=dataContext  uiContext=portfolioListUIContext}}
        {{> symbolTable dataContext=dataContext uiContext=symbolTableUIContext}}
    </div>
</template>

<template name="portfolioList">
    {{#if dataContext.subsReady}}
        {{#if portfoliosExist}}
            <div class="ui inverted segment">
                <div id="portfolio-list" class="ui stackable link cards">
                    {{#each portfolio in portfolios}}
                    <div class="ui link card {{isSelected portfolio.name}}" data-name="{{portfolio.name}}">
                        <div class="content">
                            <div class="header">{{portfolio.name}}</div>
                            <div class="description">
                                <p>${{portfolio.total}} <span class="{{portfolio.displayColor}}">{{portfolio.percentageDifference}}%</span></p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <div class="ui inverted segment">
                <h1 class="ui header center aligned">No portfolios, click <a href="/portfolio">here</a> to add one.</h1>
            </div>
        {{/if}}
    {{else}}
    <div class="ui inverted loading segment">
        <h1 class="ui header center aligned">Loading Portfolios...</h1>
    </div>
    {{/if}}
</template>

<template name="symbolTable">
        {{#if dataContext.subsReady}}
        <table class="ui padded selectable inverted table">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Holdings</th>
                </tr>
            </thead>
            <tbody>
                {{#each symbol in symbols}}
                <tr>
                    <td>{{symbol.symbol}}</td>
                    <td>${{symbol.price}} <div class="{{symbol.displayColor}}">{{symbol.percentageDifference}}%</div></td>
                    <td>{{symbol.quantity}}</td>
                    <td>${{symbol.holdings}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            <div class="ui inverted loading segment">
                <h1 class="ui header center aligned">Loading Stocks...</h1>
            </div>
        {{/if}}
</template>