<template name="home">
    <div class="ui container">
        {{> portfolioList dataContext=portfolioListData}}
        <hr>
        <table class="ui padded inverted table">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Holdings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>VFV</td>
                    <td>
                        <div>32</div>
                        <div>+0.49%</div>
                    </td>
                    <td>$353.51</td>
                </tr>
                <tr>
                    <td>VIU</td>
                    <td>22</td>
                    <td>$232.21</td>
                </tr>
                <tr>
                    <td>VCN</td>
                    <td>11</td>
                    <td>$451.99</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template name="portfolioList">
    {{#if isLoaded}}
        {{#if portfoliosExist}}
            <div class="ui inverted segment">
                <div id="portfolio-list" class="ui stackable link cards">
                    {{#each portfolio in portfolios}}
                    <div class="ui link card {{isSelected}}">
                        <div class="content">
                            <div class="header">{{portfolio.name}}</div>
                            <div class="description">
                                <p>${{portfolio.total}} <span class="{{portfolio.displayColor}}">{{portfolio.percentageDifference}}%</span></p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <div class="ui inverted segment">
                <h1 class="ui header center aligned">No portfolios, click <a href="/portfolio">here</a> to add one.</h1>
            </div>
        {{/if}}
    {{else}}
    <div class="ui inverted loading segment">
        <h1 class="ui header center aligned">Loading...</h1>
    </div>
    {{/if}}
</template>